<div class="container">
  <div class="nav">

    <div class="nav_logo">
      <h1>Logo</h1>
    </div>

    <div class="nav_navbar">
      <ul class="nav_navbar-group">
        <li class="nav_navbar-group_item">
          <a routerLink="/">Home</a>
        </li>

        <li class="nav_navbar-group_item">
          <a [routerLink]="['/user', 1, 'transaction']">Transfer Money</a>
        </li>

        <!-- <li class="nav_navbar-group_item">
          <a>XYZ</a>
        </li> -->
      </ul>
    </div>

    <button appDropdownDirective class="nav_user">
      <mat-icon>perm_identity</mat-icon>
      <p>Username</p>
      <ul class="nav_user-dropdown">
        <li class="nav_user-dropdown_item">
          <mat-icon>manage_accounts</mat-icon>
          <a [routerLink]="['/user', 1, 'profile']">Manage</a>
        </li>
        <li class="nav_user-dropdown_item">
          <mat-icon>settings</mat-icon>
          <a [routerLink]="['/user', 1, 'profile']">Profile</a>
        </li>
        <li class="nav_user-dropdown_item">
          <mat-icon>history</mat-icon>
          <a [routerLink]="['/user', 1, 'history']">History</a>
        </li>
        <li class="nav_user-dropdown_item">
          <mat-icon>logout</mat-icon>
          <a href="#">Logout</a>
        </li>
      </ul>
    </button>

  </div>
</div>
