<div class="container" *appHasPermission>
  <div class="nav">

    <div class="nav_logo">
      <h1>Logo</h1>
    </div>

    <div class="nav_navbar">
      <ul class="nav_navbar-group">
        <li class="nav_navbar-group_item">
          <a routerLink="/">Home</a>
        </li>

        <li class="nav_navbar-group_item">
          <a [routerLink]="['/user', 1, 'transaction']">Transfer Money</a>
        </li>

        <!-- <li class="nav_navbar-group_item">
          <a>XYZ</a>
        </li> -->
      </ul>
    </div>

    <button appDropdownDirective class="nav_user">
      <mat-icon>perm_identity</mat-icon>
      <p>{{ username }}</p>
      <ul class="nav_user-dropdown">
        <li
          *appHasPrivilege
          [routerLink]="['/user', 1, 'profile']"
          class="nav_user-dropdown_item">
          <mat-icon>manage_accounts</mat-icon>
          <p>Manage</p>
        </li>
        <li
        (click)="onNavigate('profile')"
        class="nav_user-dropdown_item">
          <mat-icon>settings</mat-icon>
          <p>Profile</p>
        </li>
        <li
        (click)="onNavigate('history')"
        class="nav_user-dropdown_item">
          <mat-icon>history</mat-icon>
          <p>History</p>
        </li>
        <li
        (click)="onLogout()"
        class="nav_user-dropdown_item">
          <mat-icon>logout</mat-icon>
          <p>Logout</p>
        </li>
      </ul>
    </button>

  </div>
</div>
