.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120rem;
  display: flex;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #ccc;

  &_left,
  &_right {
    padding: 0 2rem;
  }

  &_left {
    width: 20%;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-right: 1px solid #000;
  }

  &_right {
    flex: 1;
  }
  .profile {
    &_info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      padding: 1rem 2rem;
      p {
        font-size: 1.4rem;
      }
      span {
        font-size: 1.5rem;
        font-weight: bold;
        color: red;
      }
    }
    &_form {
      margin-top: 2rem;

      .form_group {
        display: flex;

        &-group {
          flex: 1;

          .group {
            display: flex;
          }

          .form_control {
            width: 100%;
            padding: 0 2rem;
            label {
              display: block;
              padding: 1rem 0;
              font-size: 1.5rem;
            }
            input {
              width: 100%;
              padding: 1rem;
              background-color: #fff;
            }
          }
        }
      }

      .form_btn {
        padding: 2rem;
      }
    }
  }
}
