<div class="container">
  <div class="panel">

    <div class="panel_left">
      <h1>Username</h1>
    </div>

    <div class="profile panel_right">

      <div class="profile_info">
        <p>Bank Account No: <span>0123456789</span></p>
        <p>ID no: <span>123456789</span></p>
        <p>Account Balance: <span>0123456789</span></p>
        <p>Type: <span>User</span></p>
      </div>

      <form class="profile_form">

        <div class="form_group">
          <div class="form_group-group">

            <div class="form_control">
              <label for="name">Name:</label>
              <input type="text" id="name">
            </div>

            <div class="form_control">
              <label for="password">Password:</label>
              <input type="password" id="password">
            </div>

            <div class="form_control">
              <label for="id">Login ID:</label>
              <input type="text" id="id">
            </div>

            <div class="form_control">
              <label for="email">Email:</label>
              <input type="email" id="email">
            </div>

          </div>

          <div class="form_group-group">

            <div class="group">
              <div class="form_control">
                <label for="city">City:</label>
                <input type="text" id="city">
              </div>

              <div class="form_control">
                <label for="postcode">Postcode:</label>
                <input type="text" id="postcode">
              </div>
            </div>

            <div class="group">
              <div class="form_control">
                <label for="state">State:</label>
                <input type="text" id="state">
              </div>

              <div class="form_control">
                <label for="country">Country:</label>
                <input type="text" id="country">
              </div>
            </div>

            <div class="form_control">
              <label for="address1">Address 1:</label>
              <input type="text" id="address1">
            </div>

            <div class="form_control">
              <label for="address2">Address 2:</label>
              <input type="text" id="address2">
            </div>

          </div>
        </div>

        <div class="form_btn">
          <app-button-component className="btn-primary" type="submit">
            Submit
          </app-button-component>
          <app-button-component className="btn-danger" type="button">
            Cancel
          </app-button-component>
        </div>

      </form>

    </div>

  </div>
</div>

<!-- "name": "Tam",

  ,

  "loginId": "123456789",
  "password": "test12345",
  "email": "test@gmail.com",

  "address1": "test",
  "address2": "test",
  "city": "HCM",
  "postcode": "700000",
  "state": "HCM",
  "country": "VN" -->
