<div class="container">
  <div class="panel">

    <div class="panel_left">
      <h1>Users management</h1>
    </div>

    <div class="panel_right">
      <app-button-component className="btn-success">Create user</app-button-component>
      <app-list-items-component *ngIf="data && data.length && !isLoading; else loading" [data]="data"></app-list-items-component>
      <ng-template #loading>
        <div class="spinner">
          <app-spinner-component></app-spinner-component>
        </div>
      </ng-template>
    </div>

  </div>
</div>

<ng-template appPlaceHolder></ng-template>
