<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" *ngIf="!isLoading; else loading">

    <div class="form_group">
      <div class="form_control">
        <label for="name">Login ID:</label>
        <input formControlName="loginId" type="text" id="name" autocomplete="chrome-off">
        <div *ngIf="loginForm.get('loginId')?.invalid && loginForm.get('loginId')?.touched">
          <p *ngIf="loginForm.get('loginId')?.errors!['required']">Please provide Login ID</p>
        </div>
      </div>

      <div class="form_control">
        <label for="password">Password:</label>
        <input formControlName="password" type="password" id="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          <p *ngIf="loginForm.get('password')?.errors!['required']">Please provide password</p>
        </div>
      </div>
    </div>

    <div class="form_btn">
      <app-button-component [disabled]="loginForm.invalid" className="btn-primary" type="submit">Login</app-button-component>
    </div>

  </form>
  <ng-template #loading>
    <app-spinner-component></app-spinner-component>
  </ng-template>
</div>
