<div class="container">
  <div class="form">

    <div class="form_header">
      <h3>Transfer Money</h3>
      <p>Current balance:
        <span>
          {{ user && user['bankAccountBalance'] }}.00$
        </span>
      </p>
    </div>

    <form
      *ngIf="!isLoading; else loading"
      class="form_group"
      [formGroup]="transactionForm"
      (ngSubmit)="onSubmit()">
      <div class="form_control">
        <label for="sender">Sender:</label>
        <input formControlName="sender" type="text" id="sender" class="disabled">
      </div>

      <div class="form_control">
        <label for="recipient">Recipient:</label>
        <input formControlName="recipient" type="text" id="recipient">
        <div *ngIf="transactionForm.get('recipient')?.invalid && transactionForm.get('recipient')?.touched">
          <p *ngIf="transactionForm.get('recipient')?.errors!['required']">Please provide sender</p>
        </div>
      </div>

      <div class="form_control">
        <label for="amount">Amount:</label>
        <input formControlName="amount" type="number" id="amount">
        <div *ngIf="transactionForm.get('amount')?.invalid && transactionForm.get('amount')?.touched">
          <p *ngIf="transactionForm.get('amount')?.errors!['exceed']">Exceed balance</p>
          <p *ngIf="transactionForm.get('amount')?.errors!['required']">Please provide amount</p>
          <p *ngIf="transactionForm.get('amount')?.errors!['below']">Amount muse be greater than 0</p>
        </div>
      </div>

      <div class="form_btn">
        <app-button-component
          [disabled]="transactionForm.invalid"
          type="submit"
          className="btn-success">
            Transfer
        </app-button-component>

        <app-button-component
          (click)="onCancel()"
          className="btn-danger">
            Cancel
        </app-button-component>
      </div>

    </form>

    <ng-template #loading>
      <app-spinner-component></app-spinner-component>
    </ng-template>
  </div>
</div>
